<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Test Asociacion Mutual San Jorge{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            *{margin:0; padding:0; box-sizing: border-box; font-size:14px; }
            html{
                padding:35px;
            }
            h2{
                font-size:14px;
                border-bottom: 1px solid gray;
            }
            table tr td{
                border: 1px solid #ddd;
                padding:0px 10px;
                min-width:80px;
            }
            table tr td form{
                display: inline-block;
            }
            table tr td form button{
                border:0;
                background: none;
                font-size:10px;
                color: lightcoral;
            }
            table tr td form button:hover{
                text-decoration:underline;
            }
            table tr td a{
                font-size:10px;
                color: blue;
            }
            form.form-am div{
                margin:5px 0;
            }
            form.form-am #appbundle_factura_fecha{
                display:inline-flex;
            }
            form.form-am label{
                width: 150px;
            }
            form.form-am input:not([type="submit"]), form.form-am select{
                padding:3px 15px;
                width:67%;
                border-style: solid;
                border-width: 1px;
                border-color:#ccc;
            }
            form.form-am .form_submit{
                padding:3px 7px;
                margin:30px 0 0 0;
            }
            .no-data{
                font-size:12px;
                color:#888;
                padding-left:20px;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function(){

                $('.form_submit').bind('click', function(e){
                    e.preventDefault();

                    var campos = $('form input[type!=submit], form select');
                    var error_total = false;
                    $.each(campos, function(i, elm){
                        var error_elm = false;

                        if($(elm).val()=='' ) {
                            error_total = true;
                            error_elm = true;
                        }else{
                            if($(elm).attr('name').indexOf('email')>0){
                                var rg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                if(!rg.test($(elm).val())){
                                    error_total = true;
                                    error_elm = true;
                                }
                            }
                        }

                        if(error_elm)
                            $(elm).css({'border-color':'lightcoral'});
                        else
                            $(elm).css({'border-color':'#ccc'});
                    });

                    if(!error_total)
                        $(this).closest('form').submit();
                });

                $('button').click(function(e){
                    e.preventDefault();
                    if(confirm('esta seguro que desa borrar el registro?'))
                        $(this).closest('form').submit();
                });
            });
        </script>
    </body>
</html>
