{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app') }}">Home</a>
    <h2><a href="{{ path('factura_update', {'id':factura.id}) }}">Factura {{ factura.id }}</a> - <a href="{{ path('item_add', {'id_factura': factura.id}) }}">Agregar más items</a></h2>

    <table>
        <tr>
            <td>{{ factura.fecha|date("m/d/Y") }}</td>
            <td>{{ factura.cliente }}</td>
        </tr>
    </table>

    <h2>Detalle de la factura</h2>
    {% if items is not empty %}
        <table>
            <th></th><th>Producto</th><th>Cant</th><th>P.u</th><th>Impuestos</th><th>Total</th>
        {% for item in items %}
            <tr>
                <td><a href="{{ path('item_update', { 'id': item.id }) }}">editar</a>
                    <form method="post" action="{{ path('item_remove', {'id':item.id}) }}">
                        <button>eliminar</button>
                    </form>
                </td>
                <td>{{ item.producto }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.costoUnitario }}</td>
                <td>{{ item.impuestos }}</td>
                <td>{{ item.costoTotal }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        {% include 'no-data.html.twig' %}
    {% endif %}
{% endblock %}

