{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app') }}">Home</a>

    <h2>{{ title|raw }}</h2>

    {{ form_start(form, {'attr': {'class': 'form-am'} }) }}

    <div class="col-md-5 ">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <input class="form_submit" type="submit">
    </div>

    {{ form_end(form) }}


{% endblock %}