{% extends 'base.html.twig' %}

{% block body %}

    <h2>Clientes <a href="{{ path('cliente_add') }}">[+]</a></h2>
    {% if clientes is not empty %}
        <table>
            <th></th><th>Nombre</th><th>DNI</th><th>Tel</th><th>Email</th><th>Direccion</th>
        {% for cliente in clientes %}
                <tr>
                    <td><a href="{{ path('cliente_update', { 'id': cliente.id }) }}">editar</a>
                        <form method="post" action="{{ path('cliente_remove', {'id':cliente.id}) }}">
                            <button>eliminar</button>
                        </form>
                    </td>
                    <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
                    <td>{{ cliente.dni }}</td>
                    <td>{{ cliente.telefono }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.direccion }}</td>
                </tr>
        {% endfor %}
        </table>
    {% else %}
        {% include 'default/no-data.html.twig' %}
    {% endif %}

    <h2>Facturas <a href="{{ path('factura_add') }}">[+]</a></h2>
    {% if facturas is not empty %}
        <table>
            <th></th><th></th><th>Fecha</th><th>Cliente</th>
            {% for factura in facturas %}
                <tr>
                    <td><a href="{{ path('factura_update', { 'id': factura.id }) }}">editar</a>
                        <form method="post" action="{{ path('factura_remove', {'id':factura.id}) }}">
                            <button>eliminar</button>
                        </form>
                    </td>
                    <td><a href="{{ path('factura_list', { 'id': factura.id }) }}">{{ factura.id }}</a></td>
                    <td>{{ factura.fecha|date("m/d/Y") }}</td>
                    <td>{{ factura.cliente }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {% include 'default/no-data.html.twig' %}
    {% endif %}

{% endblock %}